* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --other-color: #ff004f;
  --fg-color: #fff;
  --bg-color: #080808;
  --gray-color: #ababab;
}

html {
	scroll-behavior: smooth;
}
body {
  background: var(--bg-color);
  color: #fff;
}
/* ---------------home-------------------- */
.home {
  width: 100%;
  height: 100vh;
  background-image: url(../media/youssef-img-2.png);
  background-size: cover;
  background-position: center;
  padding: 10px 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
}
h1 > span {
  color: var(--other-color);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav a {
  text-decoration: none;
  color: var(--fg-color);
  font-size: 1.1rem;
  position: relative;
}
nav a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--other-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav a:hover::after {
  width: 100%;
}
.home-text {
  margin-top: 20%;
  font-size: 30px;
}
.home-text h1 {
  font-size: 4rem;
}
.btn.btn1 {
	margin-left: 0;
	margin-top: 15px;
	font-size: 2rem;
	background: var(--other-color);
}

/* ---------------------about------------------- */
.about {
  padding: 10px 50px;
  color: var(--fg-color);
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 20px;
}
.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--fg-color);
}
.about-col-2 p {
  line-height: 25px;
}
.about-col-2 button {
  width: 30%;
  height: 10%;
  border-radius: 20px;
  background: var(--other-color);
  margin: 0 20%;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--other-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.tab-links.active-links::after {
  width: 60%;
}
.tab-content {
  display: none;
}
.tab-content ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 1rem;
}
.tab-content ul li span {
  color: var(--other-color);
  font-weight: 1.2rem;
}
.tab-content.active-tab {
  display: block;
}
/* -------------------Projects------------------- */

.projects {
  width: 100%;
  padding: 10px 50px;
  position: relative;
}
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}
.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.project img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--other-color));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 1.1rem;
  transition: height 0.5s;
}
.project:hover .layer {
  height: 100%;
}
.layer h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: auto;
}
.layer p span {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: left;
}
.icons {
	margin-bottom: auto;
}
.icons a .icn {
  margin: 2px 30px;
  color: var(--other-color);
  text-decoration: none;
  font-size: 0.5rem;
  line-height: 60px;
  background: var(--fg-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--other-color);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--fg-color);
  transition: background 2s;
}
.btn:hover {
  background: var(--other-color);
}
/* ----------------contact-------------------- */
.contact-container {
  display: flex;
  padding: 10px 50px;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p .icn {
  color: var(--other-color);
  margin-right: 15px;
  font-size: 1rem;
}
.social-icons a {
  margin: 30px 10px;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--gray-color);
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  transform: translateY(-5px);
  color: var(--other-color);
}
.btn.btn2 {
  display: inline-block;
  background: var(--other-color);
  margin-top: 20px;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: var(--fg-color);
  font-size: 1.1rem;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 1.1rem;
  margin-top: 20px;
  cursor: pointer;
}
#msg {
	display: block;
	margin-top: -40px;
}
/* ----------------copyright------------------ */
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 400;
  margin-top: 20px;
}

/* ------------------------for small screens----------------------------- */
nav .small {
  display: none;
}
@media only screen and (max-width: 600px) {
  .home {
    background: var(--bg-color);
  }
  .home-text {
    margin-top: 70%;
    font-size: 1rem;
  }
  .home-text h1 {
    font-size: 2.5rem;
  }
  nav .small {
    display: block;
    font-size: 1.5rem;
  }
  nav ul {
    background: var(--other-color);
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav .small {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  nav ul .small {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 2.2rem;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 p {
    font-size: 0.9rem;
  }
  .project {
    height: 350px;
  }
  .layer h3 {
    font-size: 1.5rem;
  }
  .layer p {
    font-size: 0.9rem;
  }
  .icons a .icn {
    background: var(--fg-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .contact-container {
    flex-direction: column;
  }
  .copyright {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #262626;
    font-weight: 400;
    margin-top: 20px;
    font-size: 0.9rem;
  }
}
